body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    display:flex;
}

.sidebar{
    width:250px;
    height:100vh;
    background:#222831;
    color:white;
    position:fixed;
    padding-top:20px;
}

.sidebar h2{
    text-align:center;
    margin-bottom:40px;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:18px 25px;
    transition:.3s;
}

.sidebar a:hover{
    background:#ff6b00;
}

.main{
    margin-left:250px;
    width:100%;
    padding:40px;
    background:#f5f5f5;
    min-height:100vh;
}

.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.card{
    background:white;
    border-radius:15px;
    padding:30px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.card h2{
    color:#ff6b00;
    font-size:35px;
}

.card:hover{
    transform:translateY(-8px);
    transition:.3s;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card-link .card {
    cursor: pointer;
}

.card-link:hover .card {
    transform: translateY(-5px);
    transition: 0.3s;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card {
    cursor: pointer;
}